<!DOCTYPE html>
<html>
  <head>
    <title>Request Head Parser Microservice</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Request Head Parser Microservice
      </h1>
    </header>

    <main>
      <p class="bold">Example usage:</p>
      <p>filler</p>
      
      <p class="bold">Example output:</p>
      <p>filler</p>
    </main>

    <footer>
      <p>Made with love from Canada by <a href="https://jhjonathanlee.github.io" target="_blank">Jonathan Lee</a></p>
    </footer>
  </body>
</html>